@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  @apply outline-sky-600;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #4A4A4A;
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(94.18% 180.6% at 1.74% 2.15%, #EAEAEA 14.08%, #F0D4E1 37.11%, #ADE0F1 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.bg-transparent-nav {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.03) 0%, rgba(186, 229, 255, 0.3) 45.78%);
}

.bg-kv-gradient {
  background: linear-gradient(90deg, rgba(90, 148, 201, 0.4) 43.5%, rgba(242, 115, 244, 0.4) 100%);
  backdrop-filter: blur(40px);
  box-shadow: 0px 4px 4px 0px #00000040;
}

.bg-kv-2 {
  position: relative;
}

.bg-kv-2::before {
  content: " ";
  background-image: url('/bg-kv-2.webp');
  background-position: top 2rem center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-kv-3 {
  position: relative;
}

.bg-kv-3::before {
  content: " ";
  background-image: url('/bg-kv-3.webp');
  background-position: top -200px left 30%;
  background-size: 400%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .bg-kv-3::before {
    background-size: 85%;
    background-position: top 150px right -100%;

  }
}
